@charset "utf-8";

:root {
    --app-background-dark: rgb(24, 23, 32);
}
  
body {
    background-color: var(--app-background-dark);
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30vh;  
}

/* ------------------------ */
/*   Header                 */
/* ------------------------ */

header {
    display: flex;
    justify-content: space-evenly;
}

header h1 {
    color: rgb(14, 89, 175);
    width: 350px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.links li {
    list-style: none;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.profile {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.profile img {
    margin-top: 10px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.profile-info {
    background-color: #ffffff2f;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.profile-info div {
    border: 1px solid #313131;
    padding: 10px;
}

/* ----------------------------- */
/*   post section                */
/* ----------------------------- */

.container {
    position: absolute;
    top: 100px; 
    left: 0;
    width: 100%; 
    padding-top: 20px; 
    display: grid;
    justify-content: center;
}

#post {
    width: 400px;
    background-color: #e1e1e140;
    padding: 10px;
    border-radius: 5px;
}

input[type=text] {
    background-color: transparent;
    color: #fff;
    width: 95%;
}

.image-post {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    width: 100%;
}

.image-post .images {
    margin-top: 10px;
    cursor: pointer;
}

.image-post > * {
    margin: 0 5px;
}

.alert {
    color: #fff;
    font-size: 16px;
}

#post button {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: rgb(14, 89, 175);
    color: #fff;
    font-size: 18PX;
    font-weight: 600;
    margin-left: 80%;
    margin-left: auto;
}

section + section {
    margin-top: 20px;
}

.user-post {
    width: 400px;
    background-color: #e1e1e140;
    color: #fff;
    border-radius: 5px;
}

#imageInputLabel {
    cursor: pointer;
}
  
#previewContainer {
    margin-top: 20px;
}
  
#previewContainer img {
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
}